{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>CV</h1>
<div class="cv-content">
    <h2>Experience</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-header">
                    <h3 class="company">Amazon Web Services</h3>
                    <div class="job-title">Senior Backend Engineer</div>
                    <div class="dates">January 2022 - Present</div>
                </div>
                <div class="experience-details">
                    Led development of a high-throughput distributed system processing over 1M requests per second.
                    Architected and implemented a new caching layer reducing latency by 40%.
                    Mentored junior engineers and conducted technical interviews.
                </div>
            </div>

            <div class="experience-item">
                <div class="experience-header">
                    <h3 class="company">Google</h3>
                    <div class="job-title">Backend Engineer</div>
                    <div class="dates">March 2019 - December 2021</div>
                </div>
                <div class="experience-details">
                    Led development of a high-throughput distributed system processing over 1M requests per second.
                    Architected and implemented a new caching layer reducing latency by 40%.
                    Mentored junior engineers and conducted technical interviews.
                </div>
            </div>
        </div>

    <h2>Education</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-header">
                    <h3 class="company">University of St Andrews</h3>
                    <div class="job-title">Philosophy</div>
                    <div class="dates">September 2017 - June 2021</div>
                </div>
                <div class="experience-details">
                    Nerd sniped.
                </div>
            </div>
    </div>

    <h2>Skills</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-details">
                    Docker Terraform AWS
                </div>
            </div>
    </div>

</div>

<a href="https://drive.google.com/file/d/1sCKS1GfYsDEc7e-XoC_JwJILtpHNeox7/view?usp=drive_link"
target="_blank" class="cv-link" >
    <i class="fa fa-file-pdf"></i> View full CV
</a>

{% endblock %}
