{% extends "base.html" %}

{% block subtitle %} - Blog{% endblock %}

{% block content %}

<h1>Blog</h1>
<div class="signup-container">
    <form class="signup-form" action="/subscriptions" method="post">
        <h3>Subscribe to My Blog</h3>

        <div class="input-group">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </div>
    </form>
    {% if flash is defined %}
    <p class="flash-message">{{ flash }}</p>
    {% endif %}
</div>

<div class="blog-posts">
    {% for post in posts %}
        <a href="{{ post.path }}" class="blog-post-link">
            <article class="blog-post">
                {{ post.content | safe }}
            </article>
        </a>
    {% endfor %}
</div>

{% endblock %}
