{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>CV</h1>
<div class="cv-content">
    <h2>Experience</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-header">
                    <h3 class="company">Deloitte</h3>
                    <div class="job-title">Consultant - Software & Data Engineering</div>
                    <div class="dates">November 2022 - Present</div>
                </div>
                <div class="experience-details">
                    After completing software engineering training, I joined Deloitte where I have rapidly advanced to design distributed data processing systems and lead backend development of a government search platform. I have architected sophisticated data pipelines and implemented robust solutions for complex distributed systems challenges. Throughout these projects, I have established coding standards, led knowledge transfer sessions, and mentored developers transitioning across technology stacks. My engineering work demonstrates strong capabilities in system design, performance optimization, and building resilient distributed applications.
                </div>
            </div>

    <h2>Education</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-header">
                    <h3 class="company">University of St Andrews</h3>
                    <div class="job-title">MA Philosophy - First Class Honours</div>
                    <div class="dates">September 2017 - June 2021</div>
                </div>
                <div class="experience-details">
                    Winner of the <i>Gray Prize</i> for best dissertation in Philosophy.
                </div>
            </div>
    </div>

    <h2>Skills</h2>
    <div class="experience-grid">
            <div class="experience-item">
                <div class="experience-details">
                    Python • AWS • Terraform • Docker
                </div>
            </div>
    </div>

</div>

<div class="full-cv-link">
    <a href="https://drive.google.com/file/d/1sCKS1GfYsDEc7e-XoC_JwJILtpHNeox7/view?usp=drive_link"
    target="_blank" class="cv-link" >
        <!--Google drive svg-->
        <svg role="img" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><title>Google Drive</title><path d="M12.01 1.485c-2.082 0-3.754.02-3.743.047.01.02 1.708 3.001 3.774 6.62l3.76 6.574h3.76c2.081 0 3.753-.02 3.742-.047-.005-.02-1.708-3.001-3.775-6.62l-3.76-6.574zm-4.76 1.73a789.828 789.861 0 0 0-3.63 6.319L0 15.868l1.89 3.298 1.885 3.297 3.62-6.335 3.618-6.33-1.88-3.287C8.1 4.704 7.255 3.22 7.25 3.214zm2.259 12.653-.203.348c-.114.198-.96 1.672-1.88 3.287a423.93 423.948 0 0 1-1.698 2.97c-.01.026 3.24.042 7.222.042h7.244l1.796-3.157c.992-1.734 1.85-3.23 1.906-3.323l.104-.167h-7.249z"/></svg>
        <span>View full CV</span>
    </a>
</div>

{% endblock %}
